<div>
    <p>
    <span>
      总记录数：<span ng-bind="page.total"></span>
      本页记录数：<span ng-bind="page.size"></span>
    </span>
        <button ng-click="jumpPage(1)">首页</button>
        <button ng-click="jumpPage(page.prePage)" ng-disabled="!page.hasPreviousPage">上一页</button>
        <span>
      <span ng-bind="page.pageNum"></span>/
      <span ng-bind="page.pages"></span>
    </span>
        <button ng-click="jumpPage(page.nextPage)" ng-disabled="!page.hasNextPage">下一页</button>
        <button ng-click="jumpPage(page.pages)">尾页</button>
        到第
        <input type="text" ng-model="gotoPage" />
        页
        <button ng-click="jumpPage(gotoPage)">确定</button>
    </p>
</div>