<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snill.fm.mapper.OrderMapper" >
    <resultMap id="BaseResultMap" type="com.snill.fm.bean.Order" >
        <id property="id" column="o_id" jdbcType="INTEGER" />
        <result property="createDate" column="o_create_date" jdbcType="VARCHAR" />
        <result property="deleted" column="o_deleted" jdbcType="INTEGER" />

        <!-- 多对多关联映射：collection -->
        <collection property="orderList" ofType="com.snill.fm.bean.OrderItem" >
            <id property="id" column="oi_id"  jdbcType="INTEGER" />
            <result property="orderId" column="oi_order_id" jdbcType="INTEGER" />
            <result property="price" column="oi_price" jdbcType="INTEGER" />
            <result property="createDate" column="oi_create_date" jdbcType="DATE" />
            <result property="deleted" column="oi_deleted" jdbcType="INTEGER" />
            <association property="product" column="oi_product_id" javaType="com.snill.fm.bean.Product" select="com.snill.fm.mapper.ProductMapper.getProductById" />
        </collection>
    </resultMap>


    <select id="getOrderById" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        select o.id as o_id, o.user_id as o_user_id, o.create_date as o_create_date,o.deleted as o_deleted,
        oi.id as oi_id, oi.order_id as oi_order_id, oi.price as oi_price, oi.product_id as oi_product_id, oi.create_date as oi_create_date, oi.deleted as oi_deleted
        from `fm-so`.`order` o left join `fm-so`.`order_item` oi on o.id = oi.order_id
        where o.id = #{id}
        and o.deleted = 0
        and oi.deleted = 0
    </select>

    <select id="getOrderList" resultMap="BaseResultMap"  >
        select o.id as o_id, o.user_id as o_user_id, o.create_date as o_create_date,o.deleted as o_deleted,
        oi.id as oi_id, oi.order_id as oi_order_id, oi.price as oi_price, oi.product_id as oi_product_id, oi.create_date as oi_create_date, oi.deleted as oi_deleted
        from `fm-so`.`order` o left join `fm-so`.`order_item` oi on o.id = oi.order_id
        where o.deleted = 0 and oi.deleted = 0
    </select>

    <insert id="add" parameterType="com.snill.fm.bean.Order" >
        INSERT INTO
        `fm-so`.`order`
        (user_id, create_date)
        VALUES
        (#{user.id}, #{create_date})
    </insert>


    <update id="update" parameterType="com.snill.fm.bean.Order" >
        UPDATE
        `fm-so`.`order`
        SET
        user_id = #{user.id},
        create_date = #{createDate}
        WHERE
        id = #{id}
    </update>


    <delete id="delete" parameterType="java.lang.Integer" >
        UPDATE
        `fm-so`.`order`
        SET
        deleted = 1
        WHERE
        id = #{id}
    </delete>

</mapper>
