<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snill.fm.mapper.OrderItemMapper" >
    <resultMap id="BaseResultMap" type="com.snill.fm.bean.OrderItem" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result property="orderId" column="order_id" jdbcType="INTEGER" />
        <result property="price" column="price" jdbcType="INTEGER" />
        <result property="createDate" column="create_date" jdbcType="DATE" />
        <result property="deleted" column="deleted" jdbcType="INTEGER" />

        <!--
        <association property="product" column="product_id" javaType="com.snill.fm.bean.Product" select="com.snill.fm.mapper.ProductMapper.getProductById" />
        -->
        <result property="productId" column="product_id" jdbcType="INTEGER" />
        <result property="productCode" column="product_code" jdbcType="VARCHAR" />
        <result property="productName" column="product_name" jdbcType="VARCHAR" />

        <result property="description" column="description" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
        id, order_id, price, create_date, deleted, product_id, product_code, product_name, description
    </sql>

    <select id="getOrderItemById" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM order_item
        WHERE id = #{id}
        and deleted = 1
    </select>

    <select id="getOrderItemList" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM order_item
        where deleted = 1
    </select>

    <insert id="add" parameterType="com.snill.fm.bean.OrderItem" >
        INSERT INTO
        order_item
        (order_id, price, create_date, product_id, product_code, product_name, description)
        VALUES
        (#{orderId}, #{price}, #{create_date}, #{productId}, #{productCode}, #{productName}, #{description})
    </insert>


    <update id="update" parameterType="com.snill.fm.bean.OrderItem" >
        UPDATE
        order_item
        SET
        order_id = #{orderId},
        price = #{price},
        create_date = #{createDate},
        product_id = #{productId},
        product_code = #{productCode},
        product_name = #{productName},
        description = #{description}
        WHERE
        id = #{id}
    </update>


    <delete id="delete" parameterType="java.lang.Integer" >
        UPDATE
        order_item
        SET
        deleted = 1
        WHERE
        id = #{id}
    </delete>

</mapper>