<a href="#nav/order_info">返回</a>

this is {{option}} !

<form>
    大类：
    <select ng-model="alias_select">
        <option value=""></option>
        <option value="dogs">Dogs1</option>
        <option value="tuts">Tutorials1</option>
        <option value="cars">Cars1</option>
    </select>

    小类：
    <select ng-model="product_select">
        <option value=""></option>
        <option value="dogs">Dogs2</option>
        <option value="tuts">Tutorials2</option>
        <option value="cars">Cars2</option>
    </select>

    <br/>

    <label>产品描述：</label>
    <textarea rows="3" cols="20" ng-model="product_desc"/>

    <br/>

    价格：<input type="text" ng-model="price" />
    备注：<input type="text" ng-model="remark" />

    <br/>

    <button ng-click="add()">添加</button>

</form>

<table width="90%"  border="1" >
    <thead>
    <th width="10%">序号</th>
    <th width="20%">产品大类</th>
    <th width="20%">产品小类</th>
    <th width="20%">价格</th>
    <th width="30%">备注</th>
    <th width="30%">操作</th>
    </thead>

    <tr ng-repeat="item in items">
        <td><input type="checkbox" name="ck" ng-click="ck($index)" /></td>
        <td>{{item.aliasName}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.price}}</td>
        <td>{{item.remark}}</td>
        <td><input type="button" ng-click="dele($index)" value="删除"/></td>
    </tr>

</table>

<button ng-click="commit()">提交</button>
<button ng-click="reset()">清空</button>