<div ng-controller="orderController">
    <div class="title">
        <h1>收支明细管理</h1>
    </div>
    <table width="90%" id="mytab"  border="1" class="t1">
        <thead>
        <th width="10%">序号</th>
        <th width="10%">用户ID</th>
        <th width="30%">创建时间</th>
        <th width="20%">预留1</th>
        <th width="30%">预留2</th>

        </thead>

        <button ng-click="add()">新增</button>
        <button ng-click="del()">删除</button>
        <button ng-click="query()">查询</button>

        <tr ng-repeat="order in orders">
            <td ng-if="$odd" class="a1">{{ $index + 1 }}</td>
            <td ng-if="$even">{{ $index + 1 }}</td>

            <td ng-if="$odd" class="a1">{{order.userId}}</td>
            <td ng-if="$even">{{order.userId}}</td>

            <td ng-if="$odd" class="a1">{{order.createDate}}</td>
            <td ng-if="$even">{{order.createDate}}</td>

            <td ng-if="$odd" class="a1">预留1</td>
            <td ng-if="$even">预留1</td>

            <td ng-if="$odd" class="a1">预留2</td>
            <td ng-if="$even">预留2</td>
        </tr>
    </table>

</div>