<div ng-controller="orderController">
    <div class="title">
        <h1>大家好，CSS与表格的结合示例</h1>
    </div>
    <table width="90%" id="mytab"  border="1" class="t1">
        <thead>
        <th width="10%">网名</th>
        <th width="30%">博客</th>
        <th width="20%">电邮</th>
        <th width="30%">网络硬盘</th>
        <th width="10%">QQ</th>
        </thead>
        <tr class="a1">
            <td>wallimn</td>
            <td>http://blog.csdn.net/wallimn</td>
            <td>wallimn@tom.com</td>
            <td>http://wallimn.ys168.com</td>
            <td>54871876</td>
        </tr>
        <tr>
            <td>长三江</td>
            <td>村在</td>
            <td>北京天安门</td>
            <td>东四十条</td>
            <td>21345678</td>
        </tr>
        <tr class="a1">
            <td>长三江</td>
            <td>村在</td>
            <td>北京天安门</td>
            <td>东四十条</td>
            <td>21345678</td>
        </tr>
        <tr>
            <td>长三江</td>
            <td>村在</td>
            <td>北京天安门</td>
            <td>东四十条</td>
            <td>21345678</td>
        </tr>
        <tr class="a1">
            <td>wallimn</td>
            <td>http://blog.csdn.net/wallimn</td>
            <td>wallimn@tom.com</td>
            <td>http://wallimn.ys168.com</td>
            <td>54871876</td>
        </tr>
        <tr>
            <td>长三江</td>
            <td>村在</td>
            <td>北京天安门</td>
            <td>东四十条</td>
            <td>21345678</td>
        </tr>
        <tr class="a1">
            <td>长三江</td>
            <td>村在</td>
            <td>北京天安门</td>
            <td>东四十条</td>
            <td>21345678</td>
        </tr>
        <tr>
            <td>长三江</td>
            <td>村在</td>
            <td>北京天安门</td>
            <td>东四十条</td>
            <td>21345678</td>
        </tr>
    </table>

</div>