<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>

    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link href="css/user.css" rel="stylesheet" type="text/css" />
    <link href="css/order.css" rel="stylesheet" type="text/css" />
</head>


<title>FAMILY MANAGER</title>


<body ng-app="mainApp" class="ng-scope" ng-controller="initController">


<div class="center">
    <div>
        <!-- 头部 -->
        <header id="head" class="menu__header">
            <h1 class="menu__header-title">FAMILY MANAGER !</h1>
        </header>
    </div>


    <div>
        <div class="left_navigation">
            <ul ng-repeat="permission in permissions" class="nav">
                <li class="nav__item">
                    <a href="#nav/{{permission.code}}" class="nav__item-link">{{permission.name}}</a> <!-- mouseon nav__item-link is-active -->
                </li>
            </ul>
        </div>

        <div ng-view="" class="right_content">
        </div>

    </div>
</div>

<script src="js/angular/module.js"></script>
<script src="js/angular/controller.js"></script>
<script src="js/angular/factory.js"></script>
<script src="js/angular/service.js"></script>
<script src="js/angular/route.js"></script>
<script src="js/angular/provide.js"></script>

</body>
</html>

