<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/index/index_module.js"></script>
    <script src="js/index/index_route.js"></script>
    <script src="js/index/index_controller.js"></script>

</head>

<body ng-app="mainApp" class="ng-scope">

<!-- 头部 -->
<header id="head" class="ui-header ui-header-positive ui-border-b">
    <h1>XXX系统</h1>
</header>

<div>
    <div id="navigation" align="left" ng-controller="listController">
        <ul ng-repeat="item in list" >
            <li>
                <a href="#view/{{item.id}}">{{item.title}}</a>
            </li>
        </ul>
    </div>

    <div ng-view="" align="center">
    </div>
</div>
</body>
</html>