<div class="product_panel" ng-controller="productController">
    <div class="top_pproduct_panel">
        <header class="product_title">
            <h1 class="top_header-title">产品管理</h1>
        </header>
    </div>

    <div class="center_product_panel">
        <div class="left_center_product_panel">

            <!-- query condition -->
            <div class="product_query">
                <label>
                    <span>收支类型：</span>
                </label>

                <select ng-model="left_alias_select" ng-change="change()">
                    <option value="">请选择...</option>
                    <option ng-repeat="product in alias" value="{{product.id}}">{{product.name}}</option>
                </select>
            </div>

            <!--  query table -->
            <div class="center_table">
                <table class="order_table">
                    <thead class="oddrowcolor">
                    <th width="10%">编辑</th>
                    <th width="15%">产品ID</th>
                    <th width="15%">产品编码</th>
                    <th width="20%">产品名称</th>
                    </thead>

                    <tr ng-repeat="product in aliasAndchilren">
                        <td ng-if="$odd" class="oddrowcolor">
                            <input type="checkbox"  name="ck_product" ng-click="editProduct(product)" />
                        </td>
                        <td ng-if="$odd" class="oddrowcolor">{{product.id}}</td>
                        <td ng-if="$odd" class="oddrowcolor">{{product.code}}</td>
                        <td ng-if="$odd" class="oddrowcolor">{{product.name}}</td>

                        <td ng-if="$even" class="evenrowcolor">
                            <input type="checkbox"  name="ck_product" ng-click="editProduct(product)"/>
                        </td>
                        <td ng-if="$even" class="evenrowcolor">{{product.id}}</td>
                        <td ng-if="$even" class="evenrowcolor">{{product.code}}</td>
                        <td ng-if="$even" class="evenrowcolor">{{product.name}}</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="right_center_product_panel">
            <header id="head" class="product_title">
                <h1 class="top_header-title">{{right_title}}</h1>
            </header>
            <div>
                <label>
                    <span>产品编码：</span>
                </label>

                <input type="text" ng-model="code" />

                <label>
                    <span>产品名称：</span>
                </label>

                <input type="text" ng-model="name" />

                <label>
                    <span>收支类型：</span>
                </label>

                <select ng-model="right_alias_select">
                    <option value="">请选择...</option>
                    <option ng-repeat="product in alias">{{product.name}}</option>
                </select>

            </div>

            <div class="buttons">
                <button class="order_button" ng-click="commit()">提交</button>
            </div>
        </div>
    </div>

</div>