<div class="product_panel" ng-controller="productController">
    <div class="top_pproduct_panel">
        <header class="product_title">
            <h1 class="top_header-title">产品管理</h1>
        </header>
    </div>

    <div class="center_product_panel">
        <div class="left_center_product_panel">

            <!-- query condition -->
            <div class="product_query">
                <label>
                    <span>收支类型：</span>
                </label>

                <select ng-model="left_alias_select" ng-change="change()">
                    <option value="-1">请选择...</option>
                    <option ng-repeat="product in alias" value="{{product.id}}">{{product.name}}</option>
                </select>
            </div>

            <!--  query table -->
            <div class="center_table">
                <table class="order_table" name="product_table">
                    <thead class="oddrowcolor">
                    <th width="10%">编辑</th>
                    <th width="10%">产品ID</th>
                    <th width="15%">产品编码</th>
                    <th width="20%">产品名称</th>
                    <th width="5%">操作</th>
                    </thead>

                    <tr ng-repeat="product in aliasAndchilren">
                        <td ng-if="$odd" class="oddrowcolor">
                            <input type="checkbox"  name="ck_product" ng-click="editProduct(product, $index)" />
                        </td>
                        <td ng-if="$odd" class="oddrowcolor">{{product.id}}</td>
                        <td ng-if="$odd" class="oddrowcolor">{{product.code}}</td>
                        <td ng-if="$odd" class="oddrowcolor">{{product.name}}</td>
                        <td ng-if="$odd" class="oddrowcolor"><input type="button" ng-click="del(product.id, product.parentId)" value="删除"/></td>

                        <td ng-if="$even" class="evenrowcolor">
                            <input type="checkbox"  name="ck_product" ng-click="editProduct(product, $index)"/>
                        </td>
                        <td ng-if="$even" class="evenrowcolor">{{product.id}}</td>
                        <td ng-if="$even" class="evenrowcolor">{{product.code}}</td>
                        <td ng-if="$even" class="evenrowcolor">{{product.name}}</td>
                        <td ng-if="$even" class="evenrowcolor"><input type="button" ng-click="del(product.id, product.parentId)" value="删除"/></td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="right_center_product_panel">
            <header id="head" class="product_title">
                <h1 class="top_header-title">{{right_title}}</h1>
            </header>

            <form name="productForm" novalidate="novalidate">
                <label>
                    <span>产品编码：</span>
                </label>

                <input type="text" ng-model="show_product.code" name="right_product_code" required="required" />
                <span style="color:red" ng-show="productForm.right_product_code.$dirty &amp;&amp; productForm.right_product_code.$invalid">
                    <span ng-show="productForm.right_product_code.$error.required">产品编码不能为空！</span>
                </span>

                <label>
                    <span>产品名称：</span>
                </label>

                <input type="text" ng-model="show_product.name" name="right_product_name" required="required" />
                <span style="color:red" ng-show="productForm.right_product_name.$dirty &amp;&amp; productForm.right_product_name.$invalid">
                    <span ng-show="productForm.right_product_name.$error.required">产品名称不能为空！</span>
                </span>

                <label>
                    <span>收支类型：</span>
                </label>

                <select ng-model="right_alias_select" ng-disabled="!right_alias_select_edit">
                    <option value="-1">请选择...</option>
                    <option ng-repeat="product in alias" value="{{product.id}}">{{product.name}}</option>
                </select>

                <div class="buttons">
                    <button class="order_button" ng-click="commit()"
                            ng-disabled = "productForm.right_product_code.$dirty &amp;&amp; productForm.right_product_code.$invalid
                             || productForm.right_product_name.$dirty &amp;&amp; productForm.right_product_name.$invalid"
                    >提交</button>
                </div>

            </form>
        </div>
    </div>
</div>