<div class="user_panel">

    <div class="user_header">
        <h2 class="brand">用户信息</h2>
    </div>

    <section class="info_panel">
        <p class="tx">
            <img src="image/user.jpg" alt="" />
        </p>
        <h3 class="email">邮箱 :{{user.username}}</h3>
        <p class="lead">
            用户身份 :{{role.name}}
        </p>
        <p>
            手机 :{{user.phone}}
        </p>
        <p>
            地址 :{{user.address}}
        </p>
        <p class="tags">
            <span class="tag">{{user.nickname}}</span>
            <span class="tag">{{user.sex}}</span>
            <span class="tag">{{user.age}}</span>
        </p>
    </section>

</div>