body{

}


.mainpanel {
}


/**
上中下布局
*/
.top_panel {
    width :100%;
    margin:0 auto;
}


.center_panel {
    margin:0 auto;
}


.footer_panel {
    width:100%;
    margin:0 auto;
    border-top: 1px solid #353A40;
}


.top_header {
    background: #a1a8b2;
    border-bottom: 1px solid #353A40;
}


.top_header-title {
    color: #4B4F55;
    padding: 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


.left_navigation {
    position :relative;
    float: left;
    height:80%;
    border-right: 1px solid #353A40;
    width: 15%;
    /**background-color: #66CCFF;*/
    box-sizing: border-box;
    display: inline-block;
    background: #0cbe0c;
}


.right_content {
    position :relative;
    margin-left: 15%;
    height:80%;
}


.nav_ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: circle;
    list-style-position:inside;
    margin:0;
    padding:0;
}


.nav_li {
    display: inline;
    line-height:50px;
}


.nav_li-link {
    color: #483000;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 3px;
    /* width: 160px; */
    background-color: #0ff109;
    border-bottom: 1px solid #fff;

}


.nav_li-link:link, .nav_li-link:visited
{
    color: #ffffff;
    text-decoration: none;
}




/* #menu3 li a#current
{
border-left: 3px solid #901818;
background: #F0F0F0;
color: #000;
} */


.nav_li-link:hover {
    border-left: 3px solid #901818;
    color: #000;
}
