*{
    margin: 0;
}

.user_panel {
    background: linear-gradient(135deg, #3023AE, #C86DD7);
    background-attachment: fixed;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei;
    height: 100%;
}

.user_header {
    padding: 20px 30px;
    overflow: hidden;
}
.user_header .brand{
    color: white;
    text-decoration: none;
    float: left;
}

.info_panel {
    margin: 120px auto 60px;
    text-align: center;
    background-color: white;
    width: 500px;
    border-radius: 10px;  /* 来个圆角 */
    padding: 1px;
    transition: box-shadow .30s;
}
.info_panel:hover{
    box-shadow: #fff 5px 5px 25px;
}


.tx img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-top: -60px;
}


.email {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 20px;
}
p.lead{
    color: #333;
    font-style: italic;
    margin-bottom: 30px;
}


.tags{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #999;
}
.tag{
    margin: 0 15px;
}
.tag:before{
    content: '#'
}